body {
    margin: 0;
    padding: 0;
    background-image: url('../images/login-background.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registerbox {
    width: 25em;
    height: 30em;
    background: rgb(0, 0, 0);
    color: rgb(38, 160, 160);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 5em 2em;
}

.avatar {
    width: 6em;
    height: 6em;
    ;
    border-radius: 20em;
    position: absolute;
    top: -2em;
    left: 10em;
}

h1 {
    margin: 0;
    padding: 0 0 0.5em;
    text-align: center;
    font-size: 1.9em;
}

.registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input {
    width: 100%;
    margin-bottom: 1em;
}

.registerbox input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 2em;
    color: #fff;
    font-size: 1em;
}

.registerbox button[type="submit"] {
    border: none;
    outline: none;
    width: 100%;
    height: 2em;
    background: teal;
    color: #fff;
    font-size: 1em;
    border-radius: 2em;
    margin-bottom: 1em;
}

.registerbox button[type="submit"]:hover {
    cursor: pointer;
    background: mediumseagreen;
    color: #000;
}

.registerbox a {
    text-decoration: none;
    font-size: 1em;
    line-height: 1.5em;
    color: darkgrey;
}

.registerbox a:hover {
    color: mediumseagreen;
}

@media screen and (max-width: 600px) {
    .registerbox {
        width: 18em;
        height: 21em;
        padding: 3em 2em;
    }
    .avatar {
        width: 4em;
        height: 4em;
        border-radius: 13em;
        top: -2em;
        left: 7em;
    }
    h1 {
        font-size: 1.4em;
    }
    .registerbox p {
        font-size: 0.8em;
    }
    .registerbox input {
        font-size: 0.8em;
    }
    .registerbox input[type="text"], input[type="password"], input[type="email"] {
        height: 1.5em;
        color: #fff;
        font-size: 0.8em;
    }
    .registerbox button[type="submit"] {
        height: 1.5em;
        color: #fff;
        font-size: 1em;
    }
    .registerbox a {
        text-decoration: none;
        font-size: 0.8em;
        line-height: 1em;
    }
}

@media (min-width: 900px) {
    .avatar {
        width: calc(8% + 8vw);
        height: calc(8% + 8vw);
        top: calc(-23% + 8vw);
        left: calc(25% + 8vw);
    }
    .registerbox {
        width: calc(39% + 19vw);
        height: calc(60% + 19vh);
        padding: 9% 7%;
    }
    h1 {
        font-size: calc( 17% + 4vw);
    }
    .registerbox p {
        font-size: calc( 4% + 3vw);
    }
    .registerbox input[type="text"], input[type="password"], input[type="email"] {
        height: calc( 15% + 6vw);
        color: #fff;
        font-size: calc( 6% + 2vw);
    }
    .registerbox button[type="submit"] {
        /* height: calc( 17% + 5vw); */
        color: #fff;
        font-size: calc( 8% + 3vw);
    }
    .registerbox a {
        text-decoration: none;
        font-size: calc( 10% + 2.5vw);
        line-height: 1em;
    }
}