body {
    margin: 0;
    padding: 0;
    background-image: url('../images/login-background.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resetbox {
    width: 25em;
    height: 30em;
    background: rgb(0, 0, 0);
    color: rgb(38, 160, 160);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 5em 2em;
}

.avatar {
    width: 6em;
    height: 6em;
    ;
    border-radius: 20em;
    position: absolute;
    top: -2em;
    left: 10em;
}

h1 {
    margin: 0;
    padding: 0 0 0.5em;
    text-align: center;
    font-size: 1.9em;
}

.resetbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.resetbox input {
    width: 100%;
    margin-bottom: 1em;
}

.resetbox input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 2em;
    color: #fff;
    font-size: 1em;
}

.resetbox button[type="submit"] {
    border: none;
    outline: none;
    width: 100%;
    height: 2em;
    background: teal;
    color: #fff;
    font-size: 1em;
    border-radius: 2em;
    margin-bottom: 1em;
}

.resetbox button[type="submit"]:hover {
    cursor: pointer;
    background: mediumseagreen;
    color: #000;
}

.resetbox a {
    text-decoration: none;
    font-size: 1em;
    line-height: 1.5em;
    color: darkgrey;
}

.resetbox a:hover {
    color: mediumseagreen;
}

@media (min-width: 900px) {
    .avatar {
        width: 6em;
        height: 6em;
        top: -2em;
        left: 11em;
    }
    .resetbox {
        width: 28em;
        height: 32em;
        padding: 5em 2em;
    }
    h1 {
        font-size: 2.5em;
    }
    .resetbox p {
        font-size: 1.4em;
    }
    .resetbox input[type="password"], input[type="email"] {
        height: 1.5em;
        color: #fff;
        font-size: 1.3em;
    }
    .resetbox button[type="submit"] {
        height: 2em;
        color: #fff;
        font-size: 1.3em;
    }
    .resetbox a {
        text-decoration: none;
        font-size: 1em;
        line-height: 1em;
    }
}